@font-face {
  font-family: "SourceCode";
  src: url("/assets/fonts/SourceCodePro-VariableFont_wght.ttf");
}

*{
    font-family: 'SourceCode';
    font-size: 1.1rem;
}

.wrapper {
  height: 100dvh;
}

a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    color: #eeeeee;
    text-decoration: none !important;
}

.socials{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.socials img{
  width: 30px;
}